SOURCE: documents/graduationrequirements.pdf
============================================================

Graduation
Requirements
Graduation REGISTRATION and Checkout
Requirements
To graduate, students must be registered during the term in which they
complete their program.
An exception to this registration policy allows students to complete an
early checkout in the spring semester if all requirements have been
successfully met by a particular deadline. For additional information, refer
to https://www.mines.edu/graduate-studies/graduation-deadlines/.
All graduating students must officially check out of their degree program
prior to graduation. Notification of the checkout steps will be sent by
the Graduate Office after a student has applied to graduate. Checkout
requirements must be completed by the established deadlines for each
graduation term.
For detailed information on Graduation, please see the Graduation tab
under Academic Regulations.